<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org">
<span th:insert="header.html::header"></span>
<head><meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="container" align="center">
	<h2 class="text-primary">관리자 페이지 입니다</h2>
			
		<span><a href="noticeMain.do" class="btn btn-info">공지사항관리</a></span>
		<span><a href="/admin/serviceCenter.do" class="btn btn-info">고객센터</a></span>
		<span><a href="" class="btn btn-info">회원관리</a></span>
		<span><a href="" class="btn btn-info">차량관리</a></span>
	
</div>
</body>
</html>