<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<span th:insert="header2.html::header"></span>
<span th:insert="header3.html::header"></span>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="container" align="center">
	<h2>이용방법 수정</h2>
<form action="waysUpdate.do"method="post">
	<input type="hidden" name="waysTitle" th:value="${ways.waysTitle}">
<table class="table table-hover">
	<tr><th>이용방법제목</th><td>[[${ways.waysTitle}]]</td></tr>
	<tr><th>이용방법내용</th><td><input type="text" name="waysContents" required="required"
		class="form-control" th:value="${ways.waysContents }"></td></tr>	
	<tr><td colspan="2" align="center"><input type="submit" value="수정"
		class="btn btn-dark"></td></tr>
</table>
<a href="ways.do" class="btn btn-dark">목록</a>
</form>
</div>
</body>
<span th:insert="footer.html::footer"></span>
</html>