<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
<title>Insert title here</title></head><body>
<span th:if="${result} > 0">
	<script type="text/javascript">
		alert("예약성공");
		location.href="reservationHistory.do";
	</script>
</span>
<span th:if="${result} == 0">
	<script type="text/javascript">
		alert("예약실패 ");
		history.go(-1);
	</script>
</span>
<span th:if="${result} == -1">
	<script type="text/javascript">
		alert("이미 예약된 차량번호입니다.");
		history.go(-1);
	</script>
</span>
</body>
</html>