<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org">
<span th:insert="header.html::header"></span><head><meta charset="UTF-8">
<title>Insert title here</title></head><body>
<span th:if="${result} > 0">
	<script type="text/javascript">
		alert("삭제 되었습니다");
		location.href="reservationHistory.do?pageNum=[[${pageNum}]]";
	</script>
</span>
<span th:if="${result} == 0">
	<script type="text/javascript">
		alert("삭제 실패");
		history.go(-1);
	</script>
</span>
<span th:if="${result} == -1">
	<script type="text/javascript">
		alert("권한이 없습니다.");
		history.go(-1);
	</script>
</span>
</body>
</html>