<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org">
<span th:insert="header.html::header"></span>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<span><a href="/admin/serviceCenter.do" class="btn btn-info">게시글 신고</a></span>
	<span><a href="/admin/serviceCenter.do" class="btn btn-info">1:1 문의</a></span>	
	<span><a href="/admin/serviceCenter.do" class="btn btn-info">자주묻는질문</a></span>
	<span><a href="/admin/serviceCenter.do" class="btn btn-info">뭐해야하지</a></span>
			<div class="">
					<div class="inner">
						<h3 class="MidTitle_mid_title__3DC4Q">자주 찾는 도움말</h3>
						<div class="FilterTab_filter_tab__1gmqW">
							<div class="FilterTab_tab_box__2HY09" style="height: 38px">
								<ul role="tablist" class="FilterTab_tab_list__3fleQ"></ul>
							</div>
						</div>
						<div class="MainBookmarkHelp_faq_area__PLPwY">
							<ul class="MainBookmarkHelp_faq_list__3nJyo"></ul>
						</div>
					</div>
				</div>
	
</body>
</html>