<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<span th:insert="header.html::header"></span>
<span th:insert="header2.html::header"></span>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	function chk1() {
		if (frm.password.value != frm.password2.value) {
			alert("암호와 암호 확인이 다릅니다"); frm.password.focus();
			frm.password.value=""; frm.password2.value = ""; 
			return false;
		}
	}
</script>
</head>
<body>
<div class="container" align="center">
	<h2 class="text-primary">게시글 입력</h2>
<form action="questionInsert.do" method="post" name="frm" th:onsubmit="return chk1()">
	<input type="hidden" name="qNo" th:value="${qNo }">
	<input type="hidden" name="pageNum" th:value="${pageNum}">
	<input type="hidden" name="qRef" th:value="${qRef }">
	<input type="hidden" name="qRe_level" th:value="${qRe_level}">
	<input type="hidden" name="qRe_step" th:value="${qRe_step}">
<table class="table table-bordered">	
		<tr th:if="${qNo} == 0 " class="warning"><th>제목</th><td><input type="text" name="subject" required="required"
			autofocus="autofocus"></td></tr>
		<tr th:if="${qNo} != 0 "><th>제목</th><td><input type="text" name="subject" required="required"
			autofocus="autofocus" value="답변) "></td></tr>
		<!-- 회원게시판에서는 사용안하고 회원(member)에 있는 id/이름/별명으로 대체
		 회원 게시판은 login안하면 조회는 가능하나 입력/수정/삭제 못하게 한다 -->
	<tr><th>작성자</th><td><input type="text" name="writer" required="required"></td></tr>
	<tr><th>암호</th><td><input type="password" name="password" required="required"></td></tr>
	<tr><th>암호확인</th><td><input type="password" name="password2" required="required"></td></tr>
	<!-- 회원게시판에서는 필요없는 부분 끝 -->
	<tr><th>내용</th><td><textarea rows="5" class="form-control" name="content" required="required"></textarea></td></tr>
	<tr><td colspan="2" align="center"><input type="submit" value="작성완료" class="btn btn-primary"></td></tr>
</table>
</form>
</div>
</body>
</html>