<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<span th:insert="header2.html::header"></span>
<span th:insert="header.html::header"></span>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container" align="center">
		<h2 class="text-primary">공지사항 관리</h2>
		<span><a href="noticeList.do" class="btn btn-info">공지사항 목록</a></span>
		<span><a href="noticeInsertForm.do" class="btn btn-info">공지사항 작성</a></span>
	</div>
</body>
<span th:insert="footer.html::footer"></span>
</html>