<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
<title>Insert title here</title></head><body>
<span th:if="${result} > 0">
	<script type="text/javascript">
		alert("로그인 성공");
		location.href="main.do";
	</script>
</span>
<span th:if="${result} == 0">
	<script type="text/javascript">
		alert("암호가 다릅니다. 꺼져주세요");
		history.back();
	</script>
</span>
<span th:if="${result} == -1">
	<script type="text/javascript">
		alert("없는 아이디 입니다. 회원 가입하세요");
		history.back();
	</script>
</span>
</body>
</html>