<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<span th:insert="header2.html::header"></span>
<span th:insert="header.html::header"></span>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="container">
	<h3 align="center">목록</h3>
	<table class="table table-hover">
		<tr><th>질문내용</th><th>질문답변</th>
		<tr th:if="${#lists.size(faqList)} == 0"><td colspan="2">질문이 없습니다</td></tr>
		<tr th:if="${#lists.size(faqList)} > 0" th:each="faq:${faqList}">
			<td>[[${faq.faqTitle}]]</td>
			<td>
				<a th:href="@{faqSelect.do(faqTitle=${faq.faqTitle})}">
				[[${faq.faqContents}]]
				</a>
			</td>
		<tr><td colspan="2"><a th:href="@{faq.do}">목록으로</a></td></tr>
	</table>
</div>
</body>
<span th:insert="footer.html::footer"></span>
</html>