<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<span th:insert="header2.html::header"></span>
<span th:insert="header3.html::header"></span>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="container" align="center">
	<h2>질문 수정</h2>
<form action="faqUpdate.do" method="post">
	<input type="hidden" name="faqTitle" th:value="${faq.faqTitle}">
<table class="table table-hover">
	<tr><th>질문내용</th><td>[[${faq.faqTitle}]]</td></tr>
	<tr><th>질문답변</th><td><input type="text" name="faqContents" required="required"
		class="form-control" th:value="${faq.faqContents }"></td></tr>	
	<tr><td colspan="2" align="center"><input type="submit" value="수정"
		class="btn btn-dark"></td></tr>
</table>
<a href="faqManagement.do" class="btn btn-dark">목록</a>
</form>
</div>
</body>
<span th:insert="footer.html::footer"></span>
</html>