@media (min-width: 575px) {
  .u-block-1dee-2 {
    min-height: 1892px;
  }
  .u-block-1dee-8 {
    font-weight: 700;
    font-size: 3.75rem;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-1dee-3 {
    margin-top: 15px;
    margin-bottom: 60px;
  }
  .u-block-1dee-4 {
    min-height: 1658px;
  }
  .u-block-1dee-5 {
    padding-top: 30px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 13px;
  }
  .u-block-1dee-10 {
    height: 166px;
    background-image: none;
    width: 244px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-1dee-9 {
    margin-left: 0;
  }
  .u-block-1dee-11 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-14 {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
  }
  .u-block-1dee-15 {
    height: 166px;
    background-image: none;
    width: 244px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-1dee-16 {
    margin-left: 0;
  }
  .u-block-1dee-17 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-20 {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
  }
  .u-block-1dee-21 {
    height: 166px;
    width: 244px;
    background-image: none;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-1dee-22 {
    margin-left: 0;
  }
  .u-block-1dee-23 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-26 {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
  }
  .u-block-1dee-27 {
    height: 166px;
    width: 244px;
    background-image: none;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-1dee-28 {
    margin-left: 0;
  }
  .u-block-1dee-29 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-32 {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
  }
  .u-block-1dee-33 {
    height: 166px;
    width: 244px;
    background-image: none;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-1dee-34 {
    margin-left: 0;
  }
  .u-block-1dee-35 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-38 {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
  }
  .u-block-1dee-39 {
    height: 643px;
    margin-top: 26px;
    margin-bottom: 0;
  }
  .u-block-1dee-40 {
    position: absolute;
    bottom: 10px;
    width: auto;
    height: auto;
  }
  .u-block-1dee-42 {
    margin-right: 0;
  }
  .u-block-1dee-45 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-1dee-46 {
    margin-right: 0;
  }
  .u-block-1dee-49 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-1dee-50 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
    right: auto;
  }
  .u-block-1dee-51 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: auto;
    right: 10px;
  }
  .u-block-1dee-6 {
    min-height: 1658px;
  }
  .u-block-1dee-7 {
    max-height: 430px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 0;
  }
  .u-block-1dee-52 {
    max-height: 420px;
    width: 261px;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1dee-53 {
    max-height: 420px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-1dee-54 {
    height: 167px;
    width: 253px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-1dee-55 {
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-1dee-56 {
    width: 203px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-1dee-57 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    background-image: none;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 33px;
    padding-right: 33px;
  }
}

@media (max-width: 575px) and (min-width: 575px) {
  .u-block-1dee-2 {
    min-height: 1643px;
  }
  .u-block-1dee-8 {
    font-weight: 700;
    font-size: 3.75rem;
    margin-top: -53px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-1dee-3 {
    margin-top: 94px;
    margin-bottom: 60px;
  }
  .u-block-1dee-4 {
    min-height: 1367px;
  }
  .u-block-1dee-5 {
    padding-top: 30px;
    padding-right: 12px;
    padding-bottom: 13px;
    padding-left: 12px;
  }
  .u-block-1dee-10 {
    margin-bottom: 0;
    margin-top: 0;
    height: 166px;
    width: 227px;
    margin-left: auto;
    margin-right: auto;
    background-image: none;
  }
  .u-block-1dee-9 {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
  }
  .u-block-1dee-11 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-14 {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
  }
  .u-block-1dee-15 {
    height: 166px;
    margin-top: 26px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    width: 227px;
    background-image: none;
  }
  .u-block-1dee-16 {
    margin-left: 0;
  }
  .u-block-1dee-17 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-20 {
    background-image: none;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
  }
  .u-block-1dee-21 {
    height: 166px;
    width: 227px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-image: none;
  }
  .u-block-1dee-22 {
    margin-left: 0;
  }
  .u-block-1dee-23 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-26 {
    background-image: none;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
  }
  .u-block-1dee-27 {
    height: 166px;
    width: 227px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-image: none;
  }
  .u-block-1dee-28 {
    margin-left: 0;
  }
  .u-block-1dee-29 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-32 {
    background-image: none;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
  }
  .u-block-1dee-33 {
    height: 166px;
    width: 227px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-image: none;
  }
  .u-block-1dee-34 {
    margin-left: 0;
  }
  .u-block-1dee-35 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-38 {
    background-image: none;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
  }
  .u-block-1dee-39 {
    height: 643px;
    margin-top: 26px;
    margin-bottom: 0;
  }
  .u-block-1dee-40 {
    position: absolute;
    bottom: 10px;
    width: auto;
    height: auto;
  }
  .u-block-1dee-42 {
    margin-right: 0;
  }
  .u-block-1dee-45 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-1dee-46 {
    margin-right: 0;
  }
  .u-block-1dee-49 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-1dee-50 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
    right: auto;
  }
  .u-block-1dee-51 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: auto;
    right: 10px;
  }
  .u-block-1dee-6 {
    min-height: 1367px;
  }
  .u-block-1dee-7 {
    max-height: 430px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 0;
  }
  .u-block-1dee-52 {
    width: 261px;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    max-height: 420px;
  }
  .u-block-1dee-53 {
    max-height: 420px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-1dee-54 {
    height: 166px;
    width: 253px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-1dee-55 {
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-1dee-56 {
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 203px;
  }
  .u-block-1dee-57 {
    background-image: none;
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 33px;
    padding-right: 33px;
  }
}

@media (max-width: 575pxpx) and (min-width: 575pxpx) {
  .u-block-1dee-2 {
    min-height: 1128px;
  }
  .u-block-1dee-8 {
    font-weight: 700;
    font-size: 3.75rem;
    margin-top: -128px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-1dee-3 {
    margin-top: 169px;
    margin-bottom: 60px;
  }
  .u-block-1dee-4 {
    min-height: 100px;
  }
  .u-block-1dee-5 {
    padding-top: 30px;
    padding-right: 12px;
    padding-bottom: 13px;
    padding-left: 12px;
  }
  .u-block-1dee-10 {
    margin-bottom: 0;
    margin-top: 0;
    height: 166px;
    width: 168px;
    margin-left: auto;
    margin-right: auto;
    background-image: none;
  }
  .u-block-1dee-9 {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
  }
  .u-block-1dee-11 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-14 {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
  }
  .u-block-1dee-15 {
    height: 166px;
    margin-top: 26px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    width: 168px;
    background-image: none;
  }
  .u-block-1dee-16 {
    margin-left: 0;
  }
  .u-block-1dee-17 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-20 {
    background-image: none;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
  }
  .u-block-1dee-21 {
    height: 166px;
    width: 168px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-image: none;
  }
  .u-block-1dee-22 {
    margin-left: 0;
  }
  .u-block-1dee-23 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-26 {
    background-image: none;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
  }
  .u-block-1dee-27 {
    height: 166px;
    width: 168px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-image: none;
  }
  .u-block-1dee-28 {
    margin-left: 0;
  }
  .u-block-1dee-29 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-32 {
    background-image: none;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
  }
  .u-block-1dee-33 {
    height: 166px;
    width: 168px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-image: none;
  }
  .u-block-1dee-34 {
    margin-left: 0;
  }
  .u-block-1dee-35 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-38 {
    background-image: none;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
  }
  .u-block-1dee-39 {
    height: 643px;
    margin-top: 26px;
    margin-bottom: 0;
  }
  .u-block-1dee-40 {
    position: absolute;
    bottom: 10px;
    width: auto;
    height: auto;
  }
  .u-block-1dee-42 {
    margin-right: 0;
  }
  .u-block-1dee-45 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-1dee-46 {
    margin-right: 0;
  }
  .u-block-1dee-49 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-1dee-50 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
    right: auto;
  }
  .u-block-1dee-51 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: auto;
    right: 10px;
  }
  .u-block-1dee-6 {
    min-height: 100px;
  }
  .u-block-1dee-7 {
    max-height: 430px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 0;
  }
  .u-block-1dee-52 {
    width: 261px;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    max-height: 420px;   
  }
  .u-block-1dee-53 {
    max-height: 420px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-1dee-54 {
    height: 166px;
    width: 253px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-1dee-55 {
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-1dee-56 {
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 203px;
  }
  .u-block-1dee-57 {
    background-image: none;
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 33px;
    padding-right: 33px;
  }
}

@media (max-width: 575px) and (min-width: 575px) {
  .u-block-1dee-2 {
    min-height: 1248px;
  }
  .u-block-1dee-8 {
    font-weight: 700;
    font-size: 3.75rem;
    margin-top: 567px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-1dee-3 {
    margin-top: -526px;
    margin-bottom: 60px;
  }
  .u-block-1dee-4 {
    min-height: 100px;
  }
  .u-block-1dee-5 {
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 13px;
    padding-left: 10px;
  }
  .u-block-1dee-10 {
    margin-bottom: 0;
    margin-top: 0;
    height: 166px;
    width: 168px;
    margin-left: auto;
    margin-right: auto;
    background-image: none;
  }
  .u-block-1dee-9 {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
  }
  .u-block-1dee-11 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-14 {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
  }
  .u-block-1dee-15 {
    height: 166px;
    margin-top: 26px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    width: 168px;
    background-image: none;
  }
  .u-block-1dee-16 {
    margin-left: 0;
  }
  .u-block-1dee-17 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-20 {
    background-image: none;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
  }
  .u-block-1dee-21 {
    height: 166px;
    width: 168px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-image: none;
  }
  .u-block-1dee-22 {
    margin-left: 0;
  }
  .u-block-1dee-23 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-26 {
    background-image: none;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
  }
  .u-block-1dee-27 {
    height: 166px;
    width: 168px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-image: none;
  }
  .u-block-1dee-28 {
    margin-left: 0;
  }
  .u-block-1dee-29 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-32 {
    background-image: none;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
  }
  .u-block-1dee-33 {
    height: 166px;
    width: 168px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-image: none;
  }
  .u-block-1dee-34 {
    margin-left: 0;
  }
  .u-block-1dee-35 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-38 {
    background-image: none;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
  }
  .u-block-1dee-39 {
    height: 643px;
    margin-top: 26px;
    margin-bottom: 0;
  }
  .u-block-1dee-40 {
    position: absolute;
    bottom: 10px;
    width: auto;
    height: auto;
  }
  .u-block-1dee-42 {
    margin-right: 0;
  }
  .u-block-1dee-45 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-1dee-46 {
    margin-right: 0;
  }
  .u-block-1dee-49 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-1dee-50 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
    right: auto;
  }
  .u-block-1dee-51 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: auto;
    right: 10px;
  }
  .u-block-1dee-6 {
    min-height: 100px;
  }
  .u-block-1dee-7 {
    max-height: 430px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 0;
  }
  .u-block-1dee-52 {
    width: 261px;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    max-height: 420px;
  }
  .u-block-1dee-53 {
    max-height: 420px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-1dee-54 {
    height: 166px;
    width: 253px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-1dee-55 {
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-1dee-56 {
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 203px;
  }
  .u-block-1dee-57 {
    background-image: none;
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 33px;
    padding-right: 33px;
  }
}

@media (max-width: 575px) {
  .u-block-1dee-2 {
    min-height: 909px;
  }
  .u-block-1dee-8 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 219px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-1dee-3 {
    margin-top: -138px;
    margin-bottom: 60px;
  }
  .u-block-1dee-4 {
    min-height: 100px;
  }
  .u-block-1dee-5 {
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 13px;
    padding-left: 10px;
  }
  .u-block-1dee-10 {
    margin-bottom: 0;
    margin-top: 0;
    height: 166px;
    width: 168px;
    margin-left: auto;
    margin-right: auto;
    background-image: none;
  }
  .u-block-1dee-9 {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
  }
  .u-block-1dee-11 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-14 {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
  }
  .u-block-1dee-15 {
    height: 166px;
    margin-top: 26px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    width: 168px;
    background-image: none;
  }
  .u-block-1dee-16 {
    margin-left: 0;
  }
  .u-block-1dee-17 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-20 {
    background-image: none;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
  }
  .u-block-1dee-21 {
    height: 166px;
    width: 168px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-image: none;
  }
  .u-block-1dee-22 {
    margin-left: 0;
  }
  .u-block-1dee-23 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-26 {
    background-image: none;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
  }
  .u-block-1dee-27 {
    height: 166px;
    width: 168px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-image: none;
  }
  .u-block-1dee-28 {
    margin-left: 0;
  }
  .u-block-1dee-29 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-32 {
    background-image: none;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
  }
  .u-block-1dee-33 {
    height: 166px;
    width: 168px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-image: none;
  }
  .u-block-1dee-34 {
    margin-left: 0;
  }
  .u-block-1dee-35 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .u-block-1dee-38 {
    background-image: none;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
  }
  .u-block-1dee-39 {
    height: 643px;
    margin-top: 26px;
    margin-bottom: 0;
  }
  .u-block-1dee-40 {
    position: absolute;
    bottom: 10px;
    width: auto;
    height: auto;
  }
  .u-block-1dee-42 {
    margin-right: 0;
  }
  .u-block-1dee-45 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-1dee-46 {
    margin-right: 0;
  }
  .u-block-1dee-49 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-1dee-50 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
    right: auto;
  }
  .u-block-1dee-51 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: auto;
    right: 10px;
  }
  .u-block-1dee-6 {
    min-height: 100px;
  }
  .u-block-1dee-7 {
    max-height: 430px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 0;
  }
  .u-block-1dee-52 {
    width: 261px;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    max-height: 420px;
  }
  .u-block-1dee-53 {
    max-height: 420px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-1dee-54 {
    height: 166px;
    width: 253px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-1dee-55 {
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-1dee-56 {
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 203px;
  }
  .u-block-1dee-57 {
    background-image: none;
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 33px;
    padding-right: 33px;
  }
}