.u-section-1 .u-sheet-1 {
  min-height: 1049px;
}

.u-section-1 .u-text-1 {
  margin: 77px auto 0;
}

.u-section-1 .u-group-1 {
  width: 972px;
  min-height: 773px;
  height: auto;
  margin: 25px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 27px 30px;
}

.u-section-1 .u-image-1 {
  width: 391px;
  height: 243px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-table-1 {
  width: 470px;
  margin: -430px 0 0 auto;
}

.u-block-9c74-17 {
  height: 46px;
}

.u-block-9c74-32 {
  height: 46px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 22px auto 0 202px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px 219px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 242px;
  }

  .u-section-1 .u-table-1 {
    margin-top: -429px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 170px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 187px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 198px;
  }

  .u-section-1 .u-table-1 {
    width: 320px;
    margin-top: -385px;
  }
}