<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org">
<span th:insert="header.html::header"></span><head><meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	/* drag & drop */
	.drag-over { background: yellow; }
	.thumb  { width: 100px; padding: 2px; float: left; }
	.thumb > img { width: 100%; }
	.thumb > .close { position: absolute; background: red; cursor: pointer; }
	#drop { border: 1px solid black; width: 300px; height: 200px; padding: 3px; }
</style>
<script type="text/javascript">
function carNoChk() {
	if (!frm.carNo.value) {
		alert("차량번호를 확인해주세요");
		frm.carNo.focus(); return false;
	}
	$.post('carNoChk.do', "id="+frm.carNo.value, function(data) {
		$('#carNoChk1').html(data);
	});
}

$(function() {
	var uploadfiles = []; // 파일 배열(여러개 파일도 사용)
	var $drop = $('#drop');
	$drop.on("dragenter", function() { // 드래그 요소가 들어 왔을 때
		$('#thumbnails').text("");
		$(this).addClass('drag-over');
	}).on("dragleave", function() {  // 드래그 요소가 나갔을 때
		$('#thumbnails').text("그림을 올려 놓으세요");
		$(this).removeClass('drag-over');
	}).on("dragover", function(e) {  // 드래그 한 그림을 떨어뜨리기 위해 위에 올려 놨을 때
		e.stopPropagation();  // 이벤트를 전달하지 마라
		e.preventDefault();   // 원래 자체 기느을 하지 마라
	}).on("drop", function(e) {  // 드래그 한 그림을 떨어 뜨렸을 떄
		e.preventDefault();
		$(this).removeClass('drag-over');
		var files = e.originalEvent.dataTransfer.files; // 드래그한 그림들
		for (var i =0; i < files.length; i++) {
			var file = files[i];
			var size = uploadfiles.push(file);  // 업로드 파일 목록에 추가
			preview(file);  // 미리 보기
		}
	});
	$('#thumbnails').on('click', function(e) {
		var $target = $(e.target);
		var idx = $target.attr('data-idx');
		$target.parent().remove();  // x를 클릭한 그림 삭제
	});
});
// 그림 보여주기
function preview(file) {
	var reader = new FileReader();
	reader.onload = (function(f) {
		return function(e) {
			var div = '<div class="thumb"><div class="close">X</div><img src="'+
				e.target.result+'"/></div>';
			$('#thumbnails').append(div);
		};
	})(file);
	reader.readAsDataURL(file);
	// readAsDataURL: 컨텐츠의 특정 Blob이나 File에서 읽어노는 역할 수행
}
</script></head><body>
<div class="container" align="center">
	<h2 class="text-primary">차량 수정</h2>
<form action="carUpdate.do" method="post" enctype="multipart/form-data"  name="frm">
	<input type="hidden" name="carNo" th:value="${car.carNo }">
	<input type="hidden" name="pageNum" th:value="${pageNum}">

	<div class="u-align-center u-form u-form-1">
	
	<div class="u-form-group u-label-left u-form-group-1">
	 <label for="text-48d0" class="u-label u-spacing-5 u-label-1">차량 번호</label>
	 <input type="text" name="carNo" required="required" autofocus="autofocus"
    class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" th:value="${car.carNo }" >
    <input type="button" class="btn btn-warning btn-sm" onclick="carNoChk()" value="중복체크">
    <div id ="carNoChk1" class="err"></div>
    </div>
    
    <div class="u-form-group u-label-left u-form-group-2">
     <label for="text-d79b" class="u-label u-spacing-5 u-label-2">차량 이름</label>
     <input type="text" name="carName" required="required" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" th:value="${car.carName }">
     </div>
	 
   <div>
	  <label for="select">차량 등급</label>
	    <div class ="select select-wrapper">
	    <select id="select" name="carRank" required="required" th:value="${car.carRank }">
	       <option value="경차">경차</option>
                  <option value="소형">소형</option>
                  <option value="중형">중형</option>
                  <option value="준대형">준대형</option>
                  <option value="대형">대형</option>
                  <option value="SUV/RV">SUV/RV</option>
                  <option value="대형">대형</option>
                  <option value="수입차">수입차</option>
                  <option value="전기차">전기차</option>
                </select>
          </div>
	 </div>
    
    <div>
	  <label for="select-1">제조사/차종</label>
	    <div class ="select select-wrapper">
	    <select id="select-1" name="carKind" required="required" th:value="${car.carKind}">
	       <option value="현대">현대</option>
                  <option value="기아">기아</option>
                  <option value="쉐보레">쉐보레</option>
                  <option value="쌍용">쌍용</option>
                  <option value="르노">르노</option>
                  <option value="테슬라">테슬라</option>
                  <option value="포르쉐">포르쉐</option>
                  <option value="페라리">페라리</option>
                  <option value="아우디">아우디</option>
                  <option value="BMW">BMW</option>
                  <option value="벤츠">벤츠</option>
                  <option value="마이바흐">마이바흐</option>
                </select>
          </div>
	 </div>
	
	 <div>
	  <label for="select-2">연료</label>
	    <div class ="select select-wrapper">
	    <select id="select-2" name="carType" required="required" th:value="${car.carType }">
	       <option value="디젤">디젤</option>
                  <option value="가솔린">가솔린</option>
                  <option value="LPG">LPG</option>
                  <option value="하이브리드">하이브리드</option>
                  <option value="전기">전기</option>
                  <option value="수소">수소</option>
                </select>
          </div>
	 </div>
	 
	 <div>
     <label for="text">연식</label>
     <input type="text" name="carYear" required="required" class="form-control" th:value="${car.carYear}">
     </div>
     
     <div>
     <label for="text">기본 요금</label>
     <input type="number" name="fee" required="required" class="form-control" th:value="${car.fee }">
     </div>
     
     <div>
     <label for="text">차량 색깔</label>
     <input type="text" name="carColor" required="required" class="form-control" th:value="${car.carColor }">
     </div>
     
     <div>
     <label for="text">차량 위치한 지역</label>
     <input type="text" name="carRegion" required="required" class="form-control" th:value="${car.carRegion }">
     </div>
     
    <div>
    <input type="submit" value="수정" class="btn btn-success" name="수정">
    </div>

</div>
</form>
</div>
</body>
</html>